/* common -------------------------- */
html {
    height: 100%;
    background: $white;
}
body {
    height: 100%;
    font: #{$fontSize}/#{$lineHeight} $fontFamily;
    color: $text;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.main {
    min-height: 100%;
    @include sizing;
}
.wrap {
    margin: 0 auto;
    padding: 0 15px;
    max-width: $wrap;
}
a {
    color: $link;
    cursor: pointer;
    background: transparent;
    text-decoration: none;
    &:hover {
        color: $linkHover;
    }
    &:active {
        color: $linkActive;
    }
}
.error {
    color: $red !important;
    border-color: $red !important;
}
.success {
    color: $green !important;
    border-color: $green !important;
}
.disabled {
    color: $gray !important;
    border-color: $gray !important;
    cursor: default !important;
}
.textarea {
    font-family: $fontFamily;
}

@include placeholder {
    color: lighten($gray, 20%);
}

input::-webkit-input-placeholder {
    color: white;
}
