$border: 15px;

#contentContainer {
    &.active {
        .content {
            transform: translate3d(0, 0, 0);
            z-index: 1000;
        }
        .content-1 {
            transition-delay: 1s;
        }
        .content-2 {
            transition-delay: 1.2s;
        }
        .content-3 {
            transition-delay: 1.4s;
        }
    }
}
.content {
    background-color: rgba(236, 236, 236, 0.7);
    padding: 1em;
    position: absolute;
    width: 300px;
    z-index: 1;
    font: 18px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: 1s transform ease;
    transition-delay: 0;
    h3 {
        font-family: "adequateextra_light", sans-serif;
        font-size: 25px;
        line-height: 45px;
    }
    .contentImg {
        text-align: center;
        font-size: 6em;
    }
    img {
        width: 120px;
    }
}
.content-1 {
    top: 0;
    left: 0;
    border-radius: 0 0 $border 0;
    transform: translate3d(-100%, -100%, 0);
}
.content-2 {
    bottom: 0;
    left: 0;
    border-radius: 0 $border 0 0;
    transform: translate3d(-100%, 100%, 0);
}
.content-3 {
    top: 50%;
    right: 0;
    margin-top: -165px;
    border-radius: $border 0 0 $border;
    transform: translate3d(100%, 0, 0);
}
.contentButton {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: black;
    border-color: black;
    font-size: 20px;
}
