@font-face {
    font-family: 'polya_regularregular';
    src: url('fonts/polya-webfont.eot');
    src: url('fonts/polya-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/polya-webfont.woff2') format('woff2'),
         url('fonts/polya-webfont.woff') format('woff'),
         url('fonts/polya-webfont.ttf') format('truetype'),
         url('fonts/polya-webfont.svg#polya_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
