#footer {
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    // padding: 50px 15px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.form_container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}
.action {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 2em;
    padding: 0 15px;
}
.bottomInput {
    max-width: 700px;
    margin: 0 auto;
}
.footerInfos {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    a {
        color: white;
    }
}
