#footer {
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    // padding: 50px 15px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    // box-sizing: border-box;
    position: relative;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    // justify-content: center;
    // align-content: center;
    // z-index: 100;
    overflow: hidden;
}
// .form_container {
//     width: 100%;
//     padding: 0 15px;
//     box-sizing: border-box;
// }
// .action {
//     text-align: center;
//     color: white;
//     font-size: 25px;
//     margin-bottom: 2em;
//     padding: 0 15px;
// }
// .bottomInput {
//     max-width: 700px;
//     margin: 0 auto;
// }
// .footerInfos {
//     position: absolute;
//     bottom: 20px;
//     width: 100%;
//     text-align: center;
//     a {
//         color: white;
//     }
// }
.formEnd {
    top: 45%;
    text-align: center;
    opacity: 0;
    transition: 0.5s all ease;
    transform: translate3d(0, 15px, 0);
    position: absolute;
    width: 100%;
    font-size: 2em;
    &.active {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.iconEndForm {
    text-align: center;
    font-size: 3em;
}
.socialLinks {
    display: flex;
    justify-content: center;
}
.socialButton {
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    width: 50px;
    color: white;
    &:hover {
        color: white;
    }
}
.facebook {
    background-color: #3b5998;
}
.twitter {
    background-color: #55ACEE;
}
.gplus {
    background-color: #d34836;
}
.fs-fields > li .fs-radio-custom label {
    padding-top: 0;
    color: white;
    border: 2px solid white;
    padding: 10px 21px;
    color: white;
    @include border-radius(5px);
    transition: all ease 0.5s;
    background-color: rgba(255,255,255,0);
    &:hover {
        background-color: rgba(255,255,255,1);
        color: black;
    }
}
.fs-title h2 {
    font-size: 2em;
    margin: 0;
}
.formSubtitle {
    margin: 0;
    color: rgb(200,200,200);
}
