/* header -------------------------- */
header {
    padding: 104px 0;
    background: url(../images/bg_lanes.jpg) no-repeat 50% 50%;
    font: 24px/36px $fontCaption;
    color: $white;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    @include bgsize;
    @include sizing;
    h1 {
        font-size: 140px;
        line-height: 140px;
        font-weight: $f-medium;
        margin-bottom: 38px;
        font-family: "adequateextra_light", sans-serif;
        text-transform: uppercase;
        span {
            font-weight: $f-extra-light;
        }
    }
    p {
        margin-bottom: 38px;
    }
    .buttons-wrapper {
        padding-top: 53px;
        .button-stripe {
            margin-left: 14px;
        }
    }
}
.header-img {
    float: right;
}
.header-wrapper {
    max-width: 655px;
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
}
#pointsVisu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}
.button {
    border: 2px solid white;
    padding: 10px 21px;
    color: white;
    @include border-radius(5px);
    transition: all ease 0.5s;
    margin-top: 2em;
    display: inline-block;
    &:hover {
        background-color: white;
        color: black;
    }
}
